.env
PipeLine_API_Riot/UsuarioRandom/dataset_team_metrics_random.csv
AnalisisDatos/dataset_players.csv
PipeLine_API_Riot/UsuarioRandom/dataset_players_random.csv
PipeLine_API_Riot/dataset_random_gold.json